:root {
    --foreground: #424242;
    --background: #f5f5f5;
    --background-content: #d4dbce;
    --shadow: #6c5793;
    --font-stack-base: serif;
    --font-stack-details: serif;
    --font-stack-warning: -system-ui, sans-serif;
    --font-stack-mono: monospace;
    --font-size: 16px;
    --max-width: calc(var(--font-size) * 48);
    --anchors: #6c43b8;
    --anchors-visited: #6c5793;
    --nav-anchors: var(--foreground);
    --nav-ancors-visited: var(--foreground);
    --accent-color: #357223;
    --muted-color: #6a6a6a;
    --warning-background: #d4dbce;
    --warning-border: #a4b397;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #6c5793;
        --foreground: #f5f5f5;
        --background-content: #757d6e;
        --shadow: #9885bc;
        --anchors: #eebb00;
        --anchors-visited: #c9770c;
        --accent-color: #e3c55a;
        --muted-color: #b3cef5;
        --warning-background: #757d6e;
        --warning-border: #b4c2d5;
    }
}