{{ define "main" }}
  {{ .Content }}
  {{ with .Pages }}
    {{ if gt (len .) 0 }}
    <div id="scaffale">
        {{ range . }}
        <div class="book">
            {{- $cover := .Resources.GetMatch "cover-dither.png" -}}
            {{- if $cover -}}
            <a href="{{ .RelPermalink }}">
                <img src="{{ $cover.RelPermalink }}" widht="{{ $cover.Width }}" height="{{ $cover.Height }}" alt="Copertina di {{ .Title }}" class="copertina-libro">
            </a>
            {{- end }}
        </div>
        {{ end }}
    </div>
    {{ end }}
    {{ end }}
{{ end }}
