{{ define "main" }}
    {{ $cover := .Resources.GetMatch "cover-dither-lg.png" }}
    {{ if $cover }}
    <img src="{{ $cover.RelPermalink }}" alt="Copertina del libro" id="copertina">
    {{ end }}
    <div class="info-testo">
        <h1>{{ .Title }}</h1>
        <ul id="negozi">
        {{ range .Params.stores}}
            <li><a href="{{ .url }}" target="_blank" title="{{ .label }}">{{ .label }}</a></li>
        {{ end }}
        </ul>
    </div>
    {{ .Content }}
    <p class="metadata">Il volume è uscito per {{ .Params.publisher }} nel {{ time.Format "2006" .Params.published }}. ISBN: <span class="isbn">{{ .Params.isbn }}</span></p>
{{ end }}
