{{ define "main" }}
{{ .Content }}
<p>
    <label for="selettore-autori">{{ T "seleziona_autore" }}:</label>
    {{ $autori := newScratch}}
    {{ range .Pages }}
    {{ $autori.Add "autori" (slice .Params.author) }}
    {{ end }}
    <select id="selettore-autore">
        <option value="*">---</option>
        {{ range $autori.Get "autori" | uniq | sort }}
        <option value="{{ . | base64Encode }}">{{ . }}</option>
        {{ end }}
    </select>
    <button id="reset" disabled>{{ T "reset" }}</button>
</p>
<div id="tabellone" class="tabellone">
    {{ range .Pages }}
    <div class="scheda scheda-{{ math.Round (div (.Content | len ) 150) }}" data-autore="{{ .Params.author | base64Encode }}" data-length="{{ .Content | len }}">
        <div class="contenuto">{{ .Content }}</div>
        <div class="firma"><span class="nascosto">---</span> {{ .Params.author }}</div>
    </div>
    <hr class="nascosto">
    {{ end }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            function resetFilter() {
                selettore.value = '*';
                schede.forEach(scheda => {
                    scheda.style.display = 'block';
                });
                resetButton.disabled = true;
            }
            const selettore = document.querySelector('#selettore-autore');
            const resetButton = document.querySelector('#reset');
            const tabellone = document.querySelector('#tabellone');
            const schede = tabellone.querySelectorAll('.scheda');

            for (var i = tabellone.children.length; i >= 0; i--) {
                tabellone.appendChild(tabellone.children[Math.random() * i | 0]);
            }

            resetButton.addEventListener('click', () => {
                resetFilter();
            });

            selettore.addEventListener('change', () => {
                if (selettore.value === '*') {
                    resetFilter();
                } else {
                    schede.forEach(scheda => {
                        scheda.style.display = 'none';
                    });
                    const schedeAutore = tabellone.querySelectorAll(`[data-autore="${selettore.value}"]`);
                    console.log(`[data-autore="${selettore.value}"]`)
                    schedeAutore.forEach(scheda => {
                        scheda.style.display = 'block';
                    });
                    resetButton.disabled = false;
                }
            });
        });
    </script>
</div>
{{ end }}
