{{ define "main" }}
{{ .Content }}
<p>
    <label for="selettore-autori">Seleziona l'autore:</label>
    {{ $autori := newScratch}}
    {{ range .Pages }}
    {{ $autori.Add "autori" (slice .Params.author) }}
    {{ end }}
    <select id="selettore-autore">
        <option value="*">---</option>
        {{ range $autori.Get "autori" | uniq | sort }}
        <option value="{{ . | base64Encode }}">{{ . }}</option>
        {{ end }}
    </select>
</p>
<div id="tabellone" class="tabellone">
    {{ range .Pages }}
    <div class="scheda" data-autore="{{ .Params.author | base64Encode }}">
        <div class="contenuto">{{ .Content }}</div>
        <div class="firma">— {{ .Params.author }}</div>
    </div>
    {{ end }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const tabellone = document.querySelector('#tabellone');
            for (var i = tabellone.children.length; i >= 0; i--) {
                tabellone.appendChild(tabellone.children[Math.random() * i | 0]);
            }
            const selettore = document.querySelector('#selettore-autore');
            selettore.addEventListener('change', () => {
                if (selettore.value === '*') {
                    const schede = tabellone.querySelectorAll('.scheda');
                    schede.forEach(scheda => {
                        scheda.style.display = 'block';
                    });
                } else {
                    const schede = tabellone.querySelectorAll('.scheda');
                    schede.forEach(scheda => {
                        scheda.style.display = 'none';
                    });
                    const schedeAutore = tabellone.querySelectorAll(`[data-autore="${selettore.value}"]`);
                    console.log(`[data-autore="${selettore.value}"]`)
                    schedeAutore.forEach(scheda => {
                        scheda.style.display = 'block';
                    });
                }
            });
        });
    </script>
</div>
{{ end }}
