html {
    font-size: var(--font-size);
    /* font: -apple-system-body; */
}

body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font-stack-base);
    line-height: 1.5;
    margin: 1rem;
}

img {
    image-rendering: pixelated;
    mix-blend-mode: multiply;
    max-width: 100%;
}

header {
    margin-bottom: 1rem;
    padding-bottom: 4rem;
    font-family: var(--font-stack-details);
    font-size: .9rem;
    text-transform: lowercase;
    display: flex;
    align-items: start;
}

header nav {
    display: flex;
    gap: 2rem;
}

header a {
    color: var(--nav-anchors);
}

header a:visited {
    color: var(--nav-anchors-visited);
}

header a.attiva {
    text-decoration: underline;
}

header nav ul+ul {
    font-style: italic;
} 

header a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--accent-color);
}

header .logo {
    margin-right: 2rem;
    padding: 0 2rem;
}

header .logo:active img {
    mix-blend-mode: screen;
    filter: invert();
}

header .logo img {
    width: 80px;
    height: 44px;
}

header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-column-gap: 1rem; */
}

main {
    max-width: var(--max-width);
}

main.galleria {
    max-width: inherit;
}

/* header ul a:hover::before {
    content: ".";
    margin-right: 1rem;
    left: -1rem;
} */

footer {
    /* border-top: 1px solid var(--foreground); */
    margin-top: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: .9rem;
    clear: both;
}

footer p, footer ul {
    margin: 0;
}

footer #selettore-lingue {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: var(--anchors);
    text-decoration: none;
}

a:visited {
    color: var(--anchors-visited);
}

a:active {
    background-color: var(--foreground);
    color: var(--background) !important;
}

.esergo {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 4rem;
}

.esergo p:last-child {
    font-size: 1rem;
    text-align: right;
}

.avvertenza {
    font-family: var(--font-stack-warning);
    font-size: .8rem;
    background-color: var(--warning-background);
    border: 1px solid var(--warning-border);
    padding: 1rem 1.4rem;
    margin: 2rem 0;
}

img#io {
    float: right;
    width: 200px;
    margin: 0 0 1rem 1rem;
    mix-blend-mode: multiply;
}

.footnotes {
    margin-top: 2rem;
    font-size: .9rem;
}

.footnotes hr {
    max-width: 30%;
    margin-left: 0;
}

.footnotes p {
    font-size: .9rem;
    margin: 0;
}

#scaffale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 1rem;
}

#contatti {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    flex-wrap: wrap;
}

#contatti li {
    text-align: center;
    font-style: italic;
    font-size: .9rem;
}

#contatti li img {
    width: 64px;
}

#contatti li p {
    margin: 0;
}

#tabellone {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.scheda {
    font-size: .9rem;
    border: 1px solid var(--foreground);
    max-width: 16rem;
    padding: 1rem 2rem;
    box-shadow: 6px 6px 0px var(--foreground);
}

.scheda .firma {
    font-size: .8rem;
    font-style: italic;
    text-align: right;
}

.firma::before {
    content: "— ";
}

article footer {
    font-size: .8rem;
}

article time {
    float: right;
}

.libri #copertina {
    float: left;
    margin: 0 1rem 1rem 0;
}

.libri h1 {
    margin: 0;
}

.libri #negozi {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.libri #negozi li {
    display: inline;
    margin-right: .4rem;
}

.libri #negozi li::before {
    content: "[";
}

.libri #negozi li::after {
    content: "]";
}

.metadata .isbn {
    font-family: var(--font-stack-mono);
}

@media only screen and (max-width: 500px) {
    /* header {
        display: block;
        padding-bottom: 1rem;
    } */

    header .logo {
        padding: 0;
    }
}

@media only screen and (max-width: 400px) {
    header {
        display: block;
        padding-bottom: 1rem;
    }

    header nav {
        margin-top: 1rem;
    }

    header .logo {
        padding: 0;
    }
}

@media only screen and (max-width: 350px) {
    img#io {
        float: none;
    }
}

@media (prefers-color-scheme: dark) {
    img {
        mix-blend-mode: screen !important;
    }

    img.logo {
        filter: invert();
    }

}
