<hr class="nascosto">
{{ if .Site.IsMultiLingual }}
<ul id="selettore-lingue">
{{ with .Translations }}
    {{ range . }}
        <li>
            <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}"><img src="/img/lingue/{{ .Language.Lang }}.png" alt="{{ .Language.LanguageName }}" aria-label="{{ .Language.LanguageName }}"></a>
        </li>
    {{ end }}
{{ end }}
</ul>
{{ end }}
{{ if eq .Page.Date .Page.Lastmod }}
{{ with .Page.Date }}
<p>{{ T "data_pubblicazione" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ else }}
{{ with .Page.Date }}
<p>{{ T "data_pubblicazione" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ with .Page.Lastmod }}
<p>{{ T "ultimo_aggiornamento" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ end }}
<p>{{ .Site.Author.display_name }} &copy; {{ now.Year }}.</p>
<ul id="selettore-tema">
    <li>
        <img data-tema="oreo" width="16" heigth="16" src="/img/tema/oreo.png" aria-label="Oreo" alt="Oreo" role="button" tabindex="0">
    </li>
    <li>
        <img data-tema="salem" width="16" heigth="16" src="/img/tema/salem.png" aria-label="Gatto nero" alt="Gatto nero" tabindex="0" role="button">
    </li>
    <li>
        <img width="16" heigth="16" src="/img/tema/vapor.png" aria-label="Onda" alt="Onda" tabindex="0" data-tema="vaporware" role="button">
    </li>
</ul>
