<hr class="nascosto">
{{ if .Site.IsMultiLingual }}
<ul id="selettore-lingue">
{{ with .Translations }}
    {{ range . }}
        <li>
            <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}"><img src="/img/lingue/{{ .Language.Lang }}.png" alt="{{ .Language.LanguageName }}"></a>
        </li>
    {{ end }}
{{ end }}
</ul>
{{ end }}
<p>{{ T "ultimo_aggiornamento" }}: {{ .Page.Lastmod | time.Format ":date_long" }}</p>
<p>{{ .Site.Author.display_name }} &copy; {{ now.Year }}.</p>
