<hr class="nascosto">
{{ if .Site.IsMultiLingual }}
<ul id="selettore-lingue">
{{ with .Translations }}
    {{ range . }}
        <li>
            <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}"><img src="/img/lingue/{{ .Language.Lang }}.png" alt="{{ .Language.LanguageName }}"></a>
        </li>
    {{ end }}
{{ end }}
</ul>
{{ end }}
{{ if eq .Page.Date .Page.Lastmod }}
{{ with .Page.Date }}
<p>{{ T "data_pubblicazione" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ else }}
{{ with .Page.Date }}
<p>{{ T "data_pubblicazione" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ with .Page.Lastmod }}
<p>{{ T "ultimo_aggiornamento" }}: {{ . | time.Format ":date_long" }}</p>
{{ end }}
{{ end }}
<p>{{ .Site.Author.display_name }} &copy; {{ now.Year }}.</p>
<ul id="selettore-tema">
    <li data-tema="oreo"><img width="16" heigth="16" src="/img/tema/oreo.png" alt="Oreo"></li>
    <li data-tema="salem"><img width="16" heigth="16" src="/img/tema/salem.png" alt="Gatto nero"></li>
    <li data-tema="vaporware"><img width="16" heigth="16" src="/img/tema/vapor.png" alt="Onda"></li>
</ul>
