<nav class="header">
    {{ $scratch := newScratch }}
    {{ $scratch.Set "path" (split .RelPermalink "/") }}
    {{ if eq .Language .Sites.First.Language }}
        {{ $scratch.Set "baseLevel" 1 }}
    {{ else }}
        {{ $scratch.Set "baseLevel" 2 }}
    {{ end }}
    {{ $baseLevel := int ($scratch.Get "baseLevel") }}
    {{ $currentPage := .RelPermalink }}
    <ul class="menu">
        {{ range sort site.Sections ".Params.weight" }}
        {{ if eq (index (split .RelPermalink "/") 1) (index ($scratch.Get "path") $baseLevel) }}
        <li>
            <a href="{{ .RelPermalink }}" class="attiva">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
{{ if not .IsHome }}
    {{ $secondLevel := add $baseLevel 1 }}
    {{ $level := sub (split .RelPermalink "/" | len) $secondLevel }}
    {{ if eq $level 1 }}
    <ul class="menu">
        {{ range sort .Pages ".Params.weight" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
{{ else }}
    {{ $scratch.Set "parent" .Parent }}
    {{ range seq (sub $level $secondLevel) }}
        {{ $scratch.Set "parent" ($scratch.Get "parent").Parent }}
    {{ end }}
    <ul class="menu">
    {{ range sort ($scratch.Get "parent").Pages ".Params.weight" }}
        {{ if eq (index (split .RelPermalink "/") $secondLevel) (index ($scratch.Get "path") $secondLevel) }}
        <li>
            <a href="{{ .RelPermalink }}" class="attiva">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    {{ end }}
    </ul>
    {{ end }}
{{ end }}
</nav>
