<nav class="header">
    {{ $scratch := newScratch }}
    {{ $scratch.Set "path" (split .RelPermalink "/") }}
    {{ $currentPage := .RelPermalink }}
    <ul class="menu">
        {{ range site.Sections }}
        {{ if eq (index (split .RelPermalink "/") 1) (index ($scratch.Get "path") 1) }}
        <li>
            <a href="{{ .RelPermalink }}" class="attiva">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ if not .IsHome }}
    {{ $level := sub (split .RelPermalink "/" | len) 2 }}
    {{ if eq $level 1 }}
    <ul class="menu">
        {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
    {{ else }}
    {{ $scratch.Set "parent" .Parent }}
    {{ range seq (sub $level 2) }}
    {{ $scratch.Set "parent" ($scratch.Get "parent").Parent }}
    {{ end }}
    <ul class="menu">
        {{ range ($scratch.Get "parent").Pages }}
        {{ if eq (index (split .RelPermalink "/") 2) (index ($scratch.Get "path") 2) }}
        <li>
            <a href="{{ .RelPermalink }}" class="attiva">{{ .Title }}</a>
        </li>
        {{ else }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
    {{ end }}
</nav>